# Got the error mentioned:
# 1. https://github.com/microsoft/DeepSpeed/issues/4229#issuecomment-1702442502
# 2. https://github.com/microsoft/DeepSpeed/issues/4194#issuecomment-1703922292
# pip install -q git+https://github.com/huggingface/transformers --progress-bar off
# Hence moving forward with older version.

transformers==4.36.0
git+https://github.com/huggingface/accelerate
git+https://github.com/huggingface/peft
git+https://github.com/Dao-AILab/flash-attention
git+https://github.com/microsoft/DeepSpeed
trl
wandb
evaluate
einops
